:root{
	--theme_col: #ede1c1; /*light cream color*/
	--theme_col_dark: brown;
	--theme_col_med: rgb(236, 116, 116);
}


body{
	left: 0px;
	font-family: sans-serif;
    font-size: 30px;
}

/*header background*/

#content-header{
	background-image: url(images/header-bg-2.jpg);
	height: 65vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	padding-top: 1.2rem;
}

/*horizontal list*/
.horizontal-list{
	text-decoration: none;
	padding-left: 0px;
	margin: 0px;
	list-style: none;
}


.horizontal-list li{
	display:inline-block;
	font-size: 1rem;
    font-weight: 100;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;
}

#navigation ul li a{
	transition: color 0.5s, border-bottom 4s;
}

#navigation li a:hover{
	color: lightgrey;
	border-bottom: 1px solid white;
}

.text-center{
	text-align: center;
}

/*navigation menu*/
.nav-list{
	margin: 0;
	padding: 3px 5px 5px 5px;
}

.nav-list li{
	list-style: none;
	font-size: 19px;
	line-height: 30px;
}
.nav-list a{
	color: white;
	text-decoration: none;
}

.nav-menu{
	visibility: hidden;
	width: auto;
	height: 16rem;
	position: absolute;
	left: 90%; 
	top: 30px;
}

.nav-icon{
	color: white;
}

.navlist{
	position: absolute;
	top: 35px; 
  bottom: 100%;
left:-85px;
  height: 0;   
  width: inherit;
  background-color: grey;
  overflow: hidden;
  transition: 0.5s ease;   
  opacity: 0;
  box-shadow: 1px 1px 4px grey; 
}

.nav-menu:hover .navlist {
	opacity:1;
	height: inherit;
}


/*section*/
section{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n + 1){
	background-color: white;
}
section:nth-child(2n){
	background-color: var(--theme_col);
}


/*name*/
#name-soc-container{
	margin-top: 20vh;
}

#name{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.socials{
	margin-top: 0px;
}

.socials-img{
	padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
}

.socials-img:hover{
    box-shadow: 0 0 4px 4px  var(--theme_col);
}

/*about*/
#about{
	height: auto;
	width: 100%;
}

#my-image{
	height: 12rem;
	width:12rem;
	margin: auto;
	margin-top: -17vh;
	position: relative;
}

#my-image img{
	height: 100%;
	width: 100%;
	border-radius: 50%;	
	border: 1px solid white;
	box-shadow: 0 0 2px 2px white;
}

#my-image img:hover{
	transition: all 0.5s;
	transform: scale(1.2);
}

#about-para{
    color: grey;
    margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}

.text-highlight{
    color:  var(--theme_col_dark); /*#2857a4*/
}

/*section*/
.section-head{
	text-transform: uppercase;
}

.bottom-padding{
	padding-bottom: 3rem;
}

.mb75px{
	margin-bottom: 75px;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: var(--theme_col_dark);
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
	text-transform: uppercase;
}

/*skills*/

.skills-display{
	width:70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill-bg{
	background-color: grey;
	border-radius: 0.8rem;
	width: 7rem;
	height: 1.4rem;
	margin: 1rem;
}

.skill-percent{
	border-radius:	0.8rem 0 0 0.8rem;
	position:relative;
}

.skill-percent span{
	font-size: 	70%;
	margin-left: 0.2rem;
	color: white;
	position: absolute;
}
		
.percent-orange{
	height: inherit;
	background-color: rgb(128, 45, 29);
}
.percent-green{
	height: inherit;
	background-color: rgb(159, 73, 56);
}
.percent-coral{
	height: inherit;
	background-color: rgb(104, 30, 15);
}
.percent-yellow{
	height: inherit;
	background-color: rgb(210, 113, 94);
}

/*experience*/

.section-container{
	width:75%;
	height:auto;
	position: relative;
}
	
.section-box{
	height: auto;
	margin: 3px;
	position: relative;
	font-size: 15px;
}
	
.vl-marks-left::before{
	content:'';
	position: absolute;
	border: 1px solid var(--theme_col_med);
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	background-color: var(--theme_col_med);
	left:-4.5%;
	top:5%;
}
	
.vl-marks-left::after{
	content:'';
	position: absolute;
	border: 1px solid var(--theme_col_med);
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;		
	background-color: var(--theme_col_med);
	left:-4.5%;
	bottom:4%;
}
	
.vl {
  border-left: 2px dashed var(--theme_col_med);
  height: 90%;
  position: absolute;
  left: -4%;
  top: 5%;
}
	
.exp-icon{
	position: sticky;
	margin-left: -50%;
	top:35%;
	z-index: 1;
	font-size: 1rem;
	color: var(--theme_col_dark);
}
	
.right-det p:nth-child(3n+1){
	color: var(--theme_col_dark);
	font-weight: 800;
	font-size: 18px;
	margin-bottom: -6px;
}

.right-det p:nth-child(3n+2){
	color: orange;
	margin-bottom: -8px;
}

.right-det p:nth-child(3n){
	color: grey;
}
	
.instit-det{
	color: black;
	text-align: justify;
	line-height: 2rem;
	font-size: medium;
}

/*projects*/
.project{
	width: 15rem;
	height: 15rem;
	margin: 1rem;
	position: relative; 
}

.project img{
	width:inherit;
	height: inherit;
}  

.overlay {
  position: absolute;
  top: 0; 
  bottom: 100%;
  left: 0;
  right: 0;
  height: 0;   
  width: inherit;
  background-color: var(--theme_col);;
  overflow: hidden;
  transition: 0.5s ease;   
  opacity: 0;  
}

.project:hover .overlay {
	height: inherit;
	opacity:0.9;
}

.portfolio-desc {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	height: 100%;
}

.project-head{
	margin: 0;
	color: var(--theme_col_dark);
	font-weight: 600;
}

.project-desc{
	font-size: 15px;
	font-weight: 600;
	color: black;
	width: 75%
}

.project-link{
	font-size: 15px;
	font-weight: 600;
	width: 75%
}

/*certificatons*/
.cert-bg{
	width:inherit; 	
	height: inherit;
	background-image: linear-gradient(to top right, rgb(236, 124, 124), var(--theme_col_dark), rgb(62, 24, 24));
	color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

/*interests*/
.interest-head{
	color: var(--theme_col_dark);
	font-weight: 800;
	font-size: 18px;
}

/*contact*/
#contact{
	background-image: linear-gradient(to top right, rgb(236, 124, 124), var(--theme_col_dark), rgb(62, 24, 24));
	padding-bottom: 75px;
}

#contact h1 span{
	color: white;
}

.btm-border{
	border-bottom: 2px solid white;
}

#email-add{
/*	color: white;*/
	text-decoration: none;
}

.color-white{
	color: white;
}

.contact-det{
	font-size:	70%;
	height:auto;
}



@media screen and (max-width: 768px){
	.skills-display{
		justify-content: center;
	}
}

@media screen and (max-width: 572px){
	#navigation{
		visibility: hidden;
	}

	.nav-menu{
		visibility: visible;
	}
}
